includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    scanDirectories:
        - src
    tmpDir: build/phpstan
    checkMissingIterableValueType: false

